# Configuración de API Mediastre.am
MEDIASTREAM_API_URL=https://platform.mediastre.am/api/live-stream
MEDIASTREAM_COOKIE=your_cookie_here

# Configuración de Boro Elecard
BORO_URL=https://boro.elecard.com
BORO_EMAIL=tu_email@ejemplo.com
BORO_PASSWORD=tu_password

# Token de acceso para el stream (legacy CLI scripts)
STREAM_ACCESS_TOKEN=your_token_here
STREAM_ADMIN_TOKEN=true
