# Configuración de API Mediastre.am
MEDIASTREAM_API_URL=https://platform.mediastre.am/api/live-stream
MEDIASTREAM_COOKIE=your_cookie_here

# Configuración de Boro Elecard
BORO_URL=http://localhost:8080
BORO_USERNAME=admin
BORO_PASSWORD=admin

# Token de acceso para el stream
STREAM_ACCESS_TOKEN=RjRe88VxHoVizcElPfzieQJiAInoJFD5GEQoNGspwsuaW2HNjfTvA66zjIs5KOkZT1zjR1wWIZa
STREAM_ADMIN_TOKEN=true